.content {
    background-color: lightgray;
    margin: 100px 400px 0px 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 10px;
    overflow: auto;
}

video {
    width: 240px;
    height: 240px;
    margin: 0px 0px 50px 400px;
}

audio{
    width: 300px;
    padding-bottom: 50px;
    margin: 0px 0px 50px 100px;
}