<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <Script src="angular.min.js"></Script>
    <title>My first AngularJS App</title>
</head>

<body>
    Welcome to webinar {{1+1}}

    <div ng-app="" ng-init="firstname='John'">
        <p>Name: <input type="text" ng-model="name"></p>
        <p ng-bind="name"></p>
        <p>Name 2: {{name}}</p>
        <p>The name is <span ng-bind="firstname"></span></p>

        <table style="border: 1px; border-style: solid; border-color: black;">
            <tr>
                <td><input type="checkbox" ng-model="EDbutton">Disable</td>
                <td><button ng-disabled="EDbutton">Click!</button></td>
            </tr>
        </table>
        <input type="button" ng-click="counter = counter + 1" value="Up Counter">
        <input type="button" ng-click="counter = counter - 1" value="Down Counter">
        <p>Total clicks: {{counter}}</p>

        <table>
            <tr>
                <td>Enter name: </td>
                <td><input type="text" ng-model="name"></td>
            </tr>
            <tr>
                <td>Enter qty: </td>
                <td><input type="number" ng-model="qty"></td>
            </tr>
            <tr>
                <td>Enter price: </td>
                <td><input type="number" ng-model="price"></td>
            </tr>
            <tr>
                <td><input type="button" value="Click Here!" ng-click="message=name + (qty*price)"></td>
            </tr>
        </table>
        <p>{{message}}</p>

    </div>
</body>

</html>