<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Pratyush">
    <script src="angular.min.js"></script>
</head>

<body ng-app="myApp">
    <div ng-controller="myCtrl">
        Filter by: <input type="text" ng-model="search">
        <table>
            <th>
                <td>Emp no</td>
                <td>Name</td>
                <td>Sal</td>
                <td>Dept np</td>
            </th>
            <tr ng-repeat="emp in employees | filter: search">
                <td>{{emp.empno}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.sal}}</td>
                <td>{{emp.deptno}}</td>
            </tr>

        </table>

        <script>
            var app = angular.module("myApp", []);
            app.controller("myCtrl", ["$scope", function ($scope) {
                $scope.employees = [
                    { empno: 1, name: "Zack", sal: 5000, deptno: 10 },
                    { empno: 2, name: "Beck", sal: 10000, deptno: 20 },
                    { empno: 3, name: "Meow", sal: 7000, deptno: 30 }
                ];
            }]);
        </script>
</body>

</html>