<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <h1> Form using Angular JS</h1>

    <div>
        <form ng-submit="submit()" name="regForm">
            Username : <input type="text" name="name" ng-model="name" ng-pattern="/^[A-Z][a-z]*$/" required>
            <p ng-show="regForm.name.$error.pattern && regForm.name.$dirty">Nmae must start form capital letter and should contain only alphabets</p>
            <p ng-show="regForm.name.$error.required && regForm.name.$touched">Name is important man</p><br><br>

            Email id : <input type="email" name="email" ng-model="email" required>
            <p ng-show="regForm.email.$error.email">Email should be valid ex: hero@gmail.com</p>
            <p ng-show="regForm.email.$error.required && regForm.email.$touched">Email is necessary </p><br><br>
            
            Password : <input type="password" id="password" value="password" ng-model="password" ng-pattern="/^[A-Za-z0-9]{8,}$/" required>
            <p ng-show="regForm.password.$error.pattern">Password should contain a capital letter , a number and of length > 8 </p>
            <p ng-show="regForm.password.$error.required">Password is necessary </p><br><br>

            Confirm Password : <input type="password" id="confirmPassword" value="confirmPassword" ng-model="confirmPassword" ng-pattern="/^[A-Za-z0-9]{8,}$/" required>
            <p ng-show="regForm.confirmPassword.$error.pattern">Password should contain a capital letter , a number and of length > 8 </p>
            <p ng-show="regForm.confirmPassword.$error.required">Password is necessary </p>
            <p ng-show="regForm.confirmPassword.$viewValue != password">Password must match</p><br><br>

            Phone : <input type="number" id="phone" value="phone" ng-model="phone" ng-pattern="/^\d{10}$/" required>
            <p ng-show="regForm.phone.$error.pattern">Phone number should be of length 10</p>
            <p ng-show="regForm.phone.$error.required">Phone is necessary </p><br><br>

            CheckBox : <input type="checkbox" name="agree" ng-model="agree" ng-required="true" ng-true-value="true" ng-false-value="false">
            <span class="error" ng-show="regForm.agree.$error.required && regForm.agree.$dirty">Please agree to the t&c</span>

            Radio Button :  <label><input type="radio" name="gender" ng-model="gender" ng-value="'male'" ng-required="true"> Male</label> 
                            <label><input type="radio" name="gender" ng-model="gender" ng-value="'female'" ng-required="true"> Female</label>
                            <span class="error" ng-show="regForm.gender.$error.required && regForm.gender.$dirty">Please Select a gender</span>

            <button type="submit" ng-disabled="regForm.$invalid">Submit</button>

        </form>
    </div>

    <script>
        var app =  angular.module("myApp", []);
        app.controller("myCtrl", function($scope) {
        $scope.submit = function() {
            if ($scope.regForm.$valid) {
                alert("Form submitted successfully!");
            }
        };
    });
    </script>
    
</body>
</html>